
@{
    ViewBag.Title = "HW1";
}

<h2>HW1</h2>


<form>
    姓名:<input type="text"  name="name" value=""><br>
    帳號:<input type="text"  name="account" value=""><br>
    密碼:<input type="password"  name="psw" value=""><br>
    性別:<input type="radio" name="gender" value="A">男
    <input type="radio" name="gender" value="B">女<br>
    興趣:<input type="radio" name="favorite" value="1" />游泳
    <input type="radio" name="favorite" value="2" />閱讀
    <input type="radio" name="favorite" value="3" />看電影<br>
    <textarea name="message" rows="10" cols="30"></textarea><br />
    <input type="submit" value="Submit">
</form>   
